<!DOCTYPE html>
<html>
  <body>
    <h1>API Project</h1>
    <h2>Upload File</h2>
    <form action='/api/upload' method='POST' enctype='multipart/form-data'>
      <input type='file' name='upfile'>
      <button action='submit'>Upload</button>
    </form>
  </body>
</html>
